body{
    background-color: #f44f2b;
}
h1{
    color: teal;
}
h2{
    color: aquamarine;
}
p{
    justify-content: center;
    font-size: 10px;
}
.my-button {
    background-color: teal;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.my-button:hover {
    background-color: cyan;
}